// Variables
:root {
  --font-regular: "Open Sans Regular", "Arial", sans-serif;
  --font-medium: "Open Sans SemiBold", "Arial", sans-serif;
  --font-bold: "Open Sans Bold", "Arial", sans-serif;

  --color-dark: #48494D;
  --color-dark-fade: rgba(72, 73, 77, 0.5);
  --color-background: #F5F5F9;
  --color-accent: #D12136;
  --color-error: crimson;
}
