// Variables
:root {
  --font-regular: "Open Sans Regular", "Tahoma", sans-serif;
  --font-medium: "Open Sans SemiBold", "Tahoma", sans-serif;
  --font-bold: "Open Sans Bold", "Tahoma Bold", sans-serif;

  --color-dark: #48494D;
  --color-light: #D7D9DF;
  --color-dark-fade: rgba(72, 73, 77, 0.5);
  --color-background: #F5F5F9;
  --color-accent: #D12136;
  --color-accent-dark: #BD0C21;
  --color-error: crimson;
}
