.header {
  margin-bottom: 75px;
  padding-bottom: 10px;
  background-color: var(--color-background);

  @media (max-width: 930px) {
    margin-bottom: 20px;
    padding-bottom: 0;
  }

  @media (max-width: 768px) {
    min-height: 75px;
    margin-bottom: 6px;
  }
}

.wrapper {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 2px;
  flex-shrink: 0;

  @media (max-width: 930px) {
    margin-top: -10px;
  }
}
