.list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 69px;
  align-items: center;
  list-style: none;

  &__footer {
    justify-content: center;
    column-gap: 65px;
    row-gap: 20px;

    @media (max-width: 930px) {
      padding-right: 28px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      justify-content: space-between;
    }
  }
}

.list__footer .item {
  padding: 0;
}

.item {
  padding: 20px 0;
}

.link {
  font-family: var(--font-medium);
  color: var(--color-dark);
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
